/*个人中心*/

.data{
    background-color: #f8f8f8;

}



.dataBox{
    display: flex;
    box-shadow:0px 2px 20px rgba(3,74,62,0.1);
    border-radius:10px;
    margin-bottom: 100px;
    background-color: #fff;
}
.dataLeft{
    width: 180px;
    background-color: #f7fcfc;
    text-align: center;
    padding-top: 30px;
}
.dataRight{
    width: 1020px;
    background-color: #fff;
}
.dataLeft li{
    margin: 10px 0;
}
.dataLeft li a{
    line-height: 65px;
    display: block;
}
.dataLeft li a i{
    font-size: 20px;
    color: #999;
    margin-right: 3px;
}
.dataLeft li a span{
    font-size: 18px;
    color: #999;
}
.dataActive a{
    background-color: #faffff;
    position: relative;
}
.dataActive a:after{
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 28px;
    width: 3px;
    background-color: #02b490;
}
.dataActive  a i,.dataActive a span{
    color: #02b490 !important;
}









/*个人信息*/

.personal_information{
    padding: 50px 0 50px 60px;
}
.personal_information li{
    margin-bottom: 25px;
}
.personal_information li label:first-of-type{
    width:100px;
    display: inline-block;
}
.personal_information input{
    width:250px;
    height:40px;
    border:1px solid rgba(222,222,222,1);
    border-radius:4px;
    padding: 0 5px;
}

.personal_information .password span{
    font-size: 14px;
    color: #08a5d0;
    margin-left: 20px;
    cursor: pointer;
}
.personal_information select{
    /*width:80px;*/
    height:30px;
    border:1px solid rgba(222,222,222,1);
    border-radius:4px;
    margin: 0 10px;
}
.personal_information select:first-of-type{
    margin-left: 0;
}


.sex input[type='radio'].radio {
    display: none;
    height:20px;
}
.sex  label.radio {
    background:url(../images/btn_unselected.png) no-repeat;
    height:20px;
    padding-left:25px;
    background-position: 5px;
    margin-right: 20px;
}
.sex  input[type='radio'].radio:checked + .radio {
    background:url(../images/btn_selected.png) no-repeat;
    background-position: 5px;
}

.personal_information .address input{
    width: 500px;
}

/*头像剪切*/
.head_portrait .headTxt{
    float: left;
    line-height: 150px;
}
.headBox{
    float: left;
    margin-left: 5px;
}
.popup-img {
    border: 1px solid #02ac8a;
    width: 300px;
    display: none;
}

.popup-img .action {
    overflow: hidden;
}

.popup-img .imageBox{
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
    background-repeat: no-repeat;
    cursor: move;

}
.popup-img .imageBox{
    background-size: cover;
    background-position: center;
}
.popup-img .imageBox .thumbBox {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70%;
    height: 70%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    /*border: 1px solid rgb(8, 165, 208);*/
    box-shadow: 0 0 0 1000px rgba(2, 172, 138, 0.6);
    background: none repeat scroll 0 0 transparent;
}

.popup-img .Btnsty_peyton {
    width: 50%;
    height: 42px;
    display: block;
    float: right;
    font-size: 14px;
    color: #fff;
    /*background-color: #fff;*/
    border: 0;
    border-left:1px solid #02d1a6;
    background-color: #02b490;
    text-decoration: none;
    border-radius: 0;
}

/*选择文件上传*/
.popup-img .new-contentarea {
    overflow: hidden;
    position: relative;
    float: left;
    /*border: 1px solid #795da3;*/
    width: 50%;
}

.popup-img .new-contentarea a label {
    width: 100%;
    /*height: 100%;*/
    display: block;
    font-size: 14px;
    color: #fff;
    border: 0;
    border-right: 2px solid #029e83;
    background-color: #02b490;
    text-align: center;
    line-height: 42px;
    height: 42px;
}

.popup-img .new-contentarea input[type=file] {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    opacity: 0;
    z-index: 2;
}

.popup-img .upload-img {
    text-decoration: none;

}

.cropped {
    width: 150px;
    height: 150px;
    border: 3px #02ac8a solid;
    /*padding: 3px;*/
    text-align: center;
    overflow: hidden;
    position: relative;
    border-radius: 50%;
    cursor: pointer;
    /*background-color: #02ac8a;*/
}
.cropped p{
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: rgba(2, 172, 138, 0.8);
    color: #fff;
    font-size: 12px;
    line-height: 30px;

}
.cropped img {
    width: 100%;
    height: auto;
}


.personal_information button{
    margin: 30px 0 0 105px;
    width:160px;
    height:40px;
    background:rgba(2,180,144,1);
    border-radius:4px;
    border: 0;
    color: #fff;
    cursor: pointer;
}



/*收藏课程*/

.personal_collection,.personal_course{
    padding: 0 63px 60px;
}
.personal_course{
    padding-top: 80px;
}
.personal_collection .personalCT{
    display: flex;
    justify-content: flex-start;
    border-bottom:1px solid #FFF0F0F0;
    margin:60px 0;
}
.personalCT h2{
    font-size: 20px;
    color: #999;
    padding-bottom: 13px;
    margin-right: 50px;
}
.collectionActive h2{
    color: #02b490;
    border-bottom: 3px solid #02b490;
}
.course{
    padding-bottom: 60px;

}
.course ul li{
    width: 270px;
    float: left;
    margin-bottom: 50px;

}
.course ul li img{
    width: 100%;
    height: auto;
    transition: all 0.5s;
    transform: scale(1);
    -ms-transform:scale(1); /* IE 9 */
    -webkit-transform: scale(1); /* Safari and Chrome */
    box-shadow: 0 0 5px #ddd;
}
.course ul li:not(:nth-of-type(3n)){
    /*border: 1px solid red;*/
    margin-right:40px;
}
.course ul li h3{
    color: #000;
    margin: 15px 0 5px;
    font-size: 18px;
}
.course dl{
    display: flex;
    justify-content: flex-start;
}
.course dl dd{
    margin-right: 40px;
}
.course dl span,.course dl i{
    color: #999;
}
.course ul li:hover img{
    transform: scale(1.05);
    -ms-transform:scale(1.05); /* IE 9 */
    -webkit-transform: scale(1.05); /* Safari and Chrome */
    box-shadow: 0 0 8px #ddd;
}
.course ul li:hover h3{
    color: #02b490;
}
.courseLine{
    border-top:1px solid #FFF0F0F0;
    padding-top: 60px;
}
.personal_collection .course dl i.icon-iconfontxingxing+span,.personal_collection .course dl i.icon-iconfontxingxing{
    color: #f80f16;
}
.personal_collection .course dl dd:nth-of-type(2){
    cursor: pointer;
}
/*喜欢的老师*/
.likeTeacher{

}
.likeTeacher dd{
    border-bottom:1px solid #FFF0F0F0;
    padding-bottom:30px;
    margin-bottom: 30px;
}
.likeTeacher dd:last-of-type{
    border-bottom:0;
}
.likeTeacher .teacherImg{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    float: left;
}
.likeTeacher .likeTeacher_title{
    float: left;
    display: inline-block;
    margin: 20px 0 0 20px;

}
.likeTeacher_title h3{
    margin-bottom: 10px;
}
.likeTeacher_title h3 span{
    font-size: 18px;
    color: #333;
}
.likeTeacher_title h3 img{
    width: 15px;
    margin-left: 5px;
}
.likeTeacher_title p i{
    color: #999;
    transform: translateY(1px);
    display: inline-block;
}
.likeTeacher_title p span{
    color: #999;
    font-size: 14px;
    margin-left: 5px;
}
.likeTeacher_txt{
    margin-top: 20px;
}
.likeTeacher_txt h4{
    color: #333;
    margin: 10px 0 0;
}
.likeTeacher_txt p{
    line-height: 28px;
}


/*购物车*/
.myCartBox{
    display: block;
    padding:0 40px 40px;
}
.show{
    display: none;
}




.myCart input[type='checkbox'].opt,.myCart input[type='checkbox'].check-all {
    display: none;
    height:20px;
}
.myCart  label.opt,.myCart  label.select-all {
    background:url(../images/btn_unselected.png) no-repeat;
    height:20px;
    padding-left:25px;
    background-position: 5px;
    margin-right: 20px;
}
.myCart input[type='checkbox'].opt:checked + .opt,.myCart input[type='checkbox'].check-all:checked +label.select-all {
    background:url(../images/btn_selected.png) no-repeat;
    background-position: 5px;
}


.myCartT{
    margin: 40px 0;
}
.myCartT h2{
    color: #333;
    float: left;
    font-size: 22px;
}
.myCartT p{
    color: #999;
    float: left;
    font-size: 14px;
    margin: 8px 0 0 10px;
}
.myCartT p span{
    color: #999;
    font-size: 14px;
}

.myCart table{
    width: 100%;
    border:2px solid #f0f0f0;
    border-radius: 10px;

}
.myCart table th{
    background-color: #f8f9fa;
    line-height: 80px;
    color: #333;
    text-align: left;
}
.myCart table th span{
    color: #333;
    font-size: 17px;
}
.myCart table th h3{
    float: left;
    color: #333;
    font-size: 17px;
}
.goods h3{
    float: left;
}
.myCart table th p{
    float: left;
    color: #333;
    font-size: 17px;
}
.goods p{
    float: left;
}
.myCart table tbody tr td{
    padding: 15px 0;
}
.myCart table tbody tr td.checkBox{
    position: relative;
    width: 260px;
}
.myCart table tbody tr td.checkBox div{
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
}
.myCart table tbody tr td.checkBox img{
    width: 200px;
    border: 1px solid #f0f0f0;
    padding: 5px;
    float: right;
}
.myCart table tbody tr td.checkBox label{

}
.myCart table tbody tr:not(:last-of-type) td{
    border-bottom: 2px solid #f0f0f0;
}


.subtotal{
    width: 150px;
}
.operation{
    width: 80px;
    text-align: center;
}
.operation img{
    cursor: pointer;
}

.goodsH3{
    width: 425px;
    padding-left: 40px;
}
.goodsP{
    width: 200px;
}

.myCartB{
    line-height: 70px;
    margin-top: 20px;
    border-radius: 0 0 10px 10px;
}
.myCartBM{
    width: 970px;
    border: 2px solid #f0f0f0;
    background-color: #f8f9fa;
    float: left;
    height: 70px;
    border-right: 0;
}
.myCartBM .myCartBM_total{
    margin-left: 15px;
    float: left;
}
.myCartBM a{
    display: block;
    float: left;
    color: #999;
    margin-left: 30px;
}
.myCartBM a img{
    margin-right: 3px;
    transform: translateY(2px);
}
.myCartBM .total{
    display: inline-block;
    float: right;
    padding-right: 40px;
}
.myCartBM .total i,.myCartBM .total i span{
    color: #00ab83;
    font-style: normal;
    font-size: 24px;
}
.closing{
    float: right;
    width: 150px;
    height: 70px;
    background-color: #02b490;
    text-align: center;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}


