
.teacherH{
    background-image: linear-gradient(to right, #35d8be , #17c1d3);
    text-align: center;
    padding-bottom: 75px;
}
.teacherH h2{
    display: inline-block;
    color: #FFF;
    font-size: 48px;
    margin: 70px 0 100px;
    position: relative;
}
.teacherH h2::after{
    position: absolute;
    content: '';
    left: -130px;
    top: 50%;
    width: 120px;
    height: 3px;
    background-color: #fff;
}
.teacherH h2::before{
    position: absolute;
    content: '';
    right: -130px;
    top: 50%;
    width: 120px;
    height: 3px;
    background-color: #fff;
}
.teacherH ul{
    text-align: left;
    float: none;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}
.teacherH ul li img{
    float: left;
}
.teacherH ul li div{
    float: left;
    margin-left: 10px;
}
.teacherH ul li div h5{
    color: #fff;
    font-size: 28px;
}
.teacherH ul li div p{
    color: #fff;
    font-size: 18px;
}

.teacherBox{
    background-color: #f8f8f8;
    padding-bottom: 100px;
}
.teacherBoxH{
    text-align: center;
    padding: 80px 0 80px;
}
.teacherBoxH h2{
    color: #333;
    font-size: 32px;
}
.teacherBoxH img{
    width: 340px;
    height: auto;
}


.teacherBox ul li{
    display: flex;
    justify-content: space-between;
    border-bottom:1px solid #e6e5e5;
    margin-bottom: 40px;
    padding-bottom: 40px;
}

.teacherBox ul li .teacherTxtBox{
    margin:15px 0 0 30px;
}

.teacherBox ul li .teacherTxtImg{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 0 4px 10px #d3d3d3;
}

.teacherBox ul li .teacherHTxt h3{
    display: inline-block;
    color: #333;
    font-size: 24px;
    margin-right: 15px;
}
.teacherBox ul li .teacherHTxt .teacherBook{
    width: 20px;
    height: auto;
    transform: translateY(3px);
}
.teacherCollectImg{
    width: 20px;
    height: auto;
    transform: translateY(3px);
    margin-left: 10px;
}
.teacherBox ul li .teacherHTxt span{
    color: #333;
    margin-left: 5px;
}
.teacherTxt{
    margin-top: 20px;
}
.teacherTxt h4{
    color: #333;
    margin-top: 10px;
}
.teacherTxt p{
    line-height: 28px;
}

.moreTeachers{
    width: 200px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid #02b490;
    color: #fff;
    border-radius: 20px;
    margin: 0 auto;
    margin-top: 80px;
    display: block;
    background-color: #02b490;
    font-size: 20px;
    cursor: pointer;
}
.moreTeachers:hover{
    opacity: 0.9;
}
